"""AOC {{aoc_year}} Day {{day_number}} example data and input functions."""

from aoc2024.data import Example, get_puzzle_input

# Adding examples to a part's list signals to the system that the part is
# ready for testing

PART_A_EXAMPLES: list[Example] = []

PART_B_EXAMPLES: list[Example] = []

PUZZLE_INPUT = get_puzzle_input({{day_number}})

PUZZLE_ANSWER_A: int | None = None
PUZZLE_ANSWER_B: int | None = None
