"""AOC {{aoc_year}} Day {{day_number}} solutions."""

from typing import Optional


def part_a_solution(input_: str) -> Optional[int]:
    """Compute the solution to a Part A input."""
    assert len(input_) > 0
    return None


def part_b_solution(input_: str) -> Optional[int]:
    """Compute the solution to a Part B input."""
    assert len(input_) > 0
    return None
